{{ define "main" }}

	<section class="single-section" id="agenda-header">
	    <div class="block__list block__list--4-cols">
	        <a role="button" class="block__item agenda-filter" href="#agenda-content" id="agenda-cours" data-filter="cours">
	            <figure>
	                <img class="block__img" src="{{.Site.BaseURL}}assets/img/agenda-filter-cours.jpg" alt=""  width="520" height="356">
	                <figcaption>Les cours</figcaption>
	            </figure>
	        </a>
	        <a role="button" class="block__item agenda-filter" href="#agenda-content" id="agenda-ateliers" data-filter="ateliers">
	            <figure>
	                <img class="block__img" src="{{.Site.BaseURL}}assets/img/agenda-filter-ateliers.jpg" alt=""  width="520" height="356">
	                <figcaption>Les ateliers</figcaption>
	            </figure>
	        </a>
	        <a role="button" class="block__item agenda-filter" href="#agenda-content" id="agenda-stages" data-filter="stages">
	            <figure>
	                <img class="block__img" src="{{.Site.BaseURL}}assets/img/agenda-filter-stages.jpg" alt=""  width="520" height="356">
	                <figcaption>Les stages</figcaption>
	            </figure>
	        </a>
	        <a role="button" class="block__item agenda-filter" href="#agenda-content" id="agenda-retraites" data-filter="retraites">
	            <figure>
	                <img class="block__img" src="{{.Site.BaseURL}}assets/img/agenda-filter-retraites.jpg" alt=""  width="520" height="356">
	                <figcaption>Les retraites</figcaption>
	            </figure>
	        </a>
	    </div>
	</section>

    <section class="single-section cw" id="agenda-content">
		<h2>Les événements <span class="ff-i">à&nbsp;venir</span></h2>
		<p id="agenda__filter-wrapper" style="display:none;">Filtre : <span id="agenda__filter-text"></span></p>
		<button id="delete-filters" style="display:none;">Supprimer le filtre</button>
        <div class="flex-3-cols agenda-list">
			{{ $events := where $.Site.RegularPages "Section" "evenement" }}
			{{ $eventsLength := len $events }}
			{{ if gt $eventsLength 0 }}
				{{ range $events.ByDate }}
					<article class="flex-3-cols__col agenda-list__item {{ .Params.category }}">
						<img class="agenda-list__img" src="/assets/uploadsOutSmall{{ .Params.img }}" alt="Illustration de l'événement {{ .Title }}">
						<h3>{{ .Title }}</h3>
						{{ with .Date }}<p class="agenda-list__date"><img class="agenda__icons" src="/assets/img/agenda-when.svg" width="15" height="15" alt="Quand"> {{ .Format "02/01/2006" }}{{ end }}{{ with .Params.enddate }} - {{ dateFormat "02/01/2006" . }}{{ end }}</p>
						<p class="agenda-list__schedule"><img class="agenda__icons" src="/assets/img/agenda-schedule.svg" width="15" height="15" alt="Horaire"> {{ .Params.schedule_in }}{{ with .Params.schedule_out }} - {{ . }}{{ end }}</p>
						{{ with .Params.address }}<address><img class="agenda__icons" src="/assets/img/agenda-where.svg" width="15" height="15" alt="Où"> {{ . }}</address>{{ end }}
						<div class="agenda-list__content">
							{{ .Content | safeHTML | truncate 130 }}
						</div>
					</article> 
				{{ end }}	
			{{ else }}
			    <p style="display:block;margin-left:auto;margin-right:auto;">Désolé, il n'y a aucun événement prévu en ce moment.</p>
			{{ end }}
			<p id="agenda-error" style="display:none;margin-left:auto;margin-right:auto;">Désolé, il n'y a aucun événement futur correspondant à vos critères.</p>
        </div>
    </section>
{{ end }}