{{ define "main" }}

    <section class="single-section" id="blog-header">
        {{ $paginator := .Paginator }}
        <h1 id="blog-title"><a href="/blog">Blog</a> : {{ .Title }}{{ if gt $paginator.TotalPages 1 }}<br><small>(Page {{$paginator.PageNumber}}){{ end }}</small></h1>
    </section>

    <section class="single-section" id="blog-content">
        <div class="flex-2-cols blog-content__list">
            {{ range (.Paginate ( .Pages.ByDate.Reverse )).Pages }}
                {{ partial "blog-article.html" . }}
            {{ end }}
        </div>	
    </section>

    {{ if gt $paginator.TotalPages 1 }}
        <nav class="single-section" id="blog-pagination">
            {{ if $paginator.HasPrev }}
                <a class="button blog-pagination__item blog-pagination__item--prev" href="{{ $paginator.Prev.URL }}">
                    Page précédente
                </a>
            {{ end }}
            {{ if $paginator.HasNext }}
                <a class="button blog-pagination__item blog-pagination__item--next" href="{{ $paginator.Next.URL }}">
                    Page suivante
                </a>
            {{ end }}
        </nav>
    {{ end }}

{{ end }}