{{ define "main" }}

    <section class="single-section" id="yoga-intro">
        <figure class="fullw-img-wrapper fullw-img-wrapper--long-text">
            <picture class="fullw-img">
                <source type="image/webp" media="(max-width: 767px)" srcset="{{.Site.BaseURL}}assets/img/yoga-full-medium.webp">
                <source type="image/jpeg" media="(max-width: 767px)" srcset="{{.Site.BaseURL}}assets/img/yoga-full-medium.jpg">
                <source type="image/webp" media="(min-width: 768px)" srcset="{{.Site.BaseURL}}assets/img/yoga-full.webp">
                <source type="image/jpeg" media="(min-width: 768px)" srcset="{{.Site.BaseURL}}assets/img/yoga-full.jpg">
                <img class="fullw-img" src="{{.Site.BaseURL}}assets/img/yoga-full.jpg" alt=""  width="1640" height="900">
            </picture>
            {{ with .Params.intro_text }}
            <figcaption>
                {{ range . }}<p>{{ .text | safeHTML}}</p>{{ end }}
            </figcaption>
            {{ end }}
        </figure>
    </section>

    <section class="single-section mw" id="yoga-vision">
        <div class="flex-2-cols">
            <div class="flex-2-cols__col">
                <img class="yoga-vision__img" src="{{.Site.BaseURL}}assets/img/yoga-vision-img.png" width="559" height="637" alt="">
            </div>
            <div class="flex-2-cols__col">
                {{ with .Params.vision_title }}
                    <h2>{{ . | safeHTML }}</h2>
                {{ end }}                
                {{ with .Params.vision_text }}
                    {{ range . }}<p>{{ .text | safeHTML}}</p>{{ end }}
                {{ end }}
            </div>
        </div>
        <div class="flex-3-cols">
            {{ with .Params.offre_blocks }}
                {{ range . }}
                    <div class="flex-3-cols__col">
                        <h2 class="ff-i">{{ .block.title }}</h2>
                        <p>{{ .block.text }}</p>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </section>

    <section class="single-section single-section--price cw" id="yoga-prix">
        <h2 class="ff-i">Tarif</h2>
        {{ partial "price.html" (dict "type" "yoga" "data" $.Site.Data.tarif_yoga) }}
    </section>

    <section class="single-section single-section--price cw" id="yoga-horaire">
        <h2 class="ff-i">Horaire</h2>
        <table>
            <tr id="hours">
                <th></th>
                <th>9H</th>
                <th>10H</th>
                <th>11H</th>
                <th>12H</th>
                <th>13H</th>
                <th>14H</th>
                <th>15H</th>
                <th>16H</th>
                <th>17H</th>
                <th>18H</th>
                <th>19H</th>
                <th>20H</th>
            </tr>
            <tr id="monday">
                <th>Lundi</th>
                <td class="schedule-09">
                    <span class="adultes">adultes<small>9h-10h</small></span>
                </td>
                <td class="schedule-10"></td>
                <td class="schedule-11"></td>
                <td class="schedule-12"></td>
                <td class="schedule-13"></td>
                <td class="schedule-14"></td>
                <td class="schedule-15"></td>
                <td class="schedule-16" style="width:8em">
                    <span class="enfants">enfants<small>(Ecole Saint-Maur)</small><small>16h-17h</small></span>
                </td>
                <td class="schedule-17"></td>
                <td class="schedule-18"></td>
                <td class="schedule-19"></td>
                <td class="schedule-20"></td>
            </tr>
            <tr id="tuesday">
                <th>Mardi</th>
                <td class="schedule-09"></td>
                <td class="schedule-10"></td>
                <td class="schedule-11"></td>
                <td class="schedule-12"></td>
                <td class="schedule-13"></td>
                <td class="schedule-14"></td>
                <td class="schedule-15"></td>
                <td class="schedule-16"></td>
                <td class="schedule-17"></td>
                <td class="schedule-18" colspan="2">
                    <span class="adultes middleRight">adultes<small>18h-19h30</small></span>
                </td>
                <td class="schedule-20"></td>
            </tr>
            <tr id="wednesday">
                <th>Mercredi</th>
                <td class="schedule-09" colspan="4">
                    <span class="adultes" style="margin-left:6.25%;margin-right:65%;">adultes<small>9h15-10h30</small></span>
                    <span class="adultes" style="margin-left: 42.5%;margin-right: 6.25%;">adultes<small>10h45-11h45</small></span>
                </td>
                <td class="schedule-13"></td>
                <td class="schedule-14">
                    <span class="enfants">enfants<small>14h-15h</small></span>
                </td>
                <td class="schedule-15">
                    <span class="ados">ados<small>14h-15h</small></span>
                </td>
                <td class="schedule-16"></td>
                <td class="schedule-17"></td>
                <td class="schedule-18"></td>
                <td class="schedule-19"></td>
                <td class="schedule-20"></td>
            </tr>
            <tr id="thursday">
                <th>Jeudi</th>
                <td class="schedule-09"></td>
                <td class="schedule-10"></td>
                <td class="schedule-11"></td>
                <td class="schedule-12"></td>
                <td class="schedule-13"></td>
                <td class="schedule-14"></td>
                <td class="schedule-15"></td>
                <td class="schedule-16">
                    <span class="enfants">enfants<small>(Ecole Don Bosco)</small><small>16h-17h</small></span>
                </td>
                <td class="schedule-17"></td>
                <td class="schedule-18"></td>
                <td class="schedule-19"></td>
                <td class="schedule-20"></td>
            </tr>
            <tr id="friday">
                <th>Vendredi</th>
                <td class="schedule-09" colspan="2">
                    <span class="adultes" style="margin-left:6.25%;margin-right:47.5%;">adultes<small>9h15-10h15</small></span>
                </td>
                <td class="schedule-11"></td>
                <td class="schedule-12"></td>
                <td class="schedule-13"></td>
                <td class="schedule-14"></td>
                <td class="schedule-15"></td>
                <td class="schedule-16"></td>
                <td class="schedule-17"></td>
                <td class="schedule-18"></td>
                <td class="schedule-19"></td>
                <td class="schedule-20"></td>
            </tr>
            <tr id="saterday">
                <th>Samedi</th>
                <td class="schedule-09" colspan="2">
                    <span class="adultes middleLeft middleRight">adultes<small>9h30-10h30</small></span>
                </td>
                <td class="schedule-11">
                    <span class="ados">ados<small>(bal spécial)</small><small>11h-12h</small></span>
                </td>
                <td class="schedule-12">
                    <span class="ados">ados<small>(bal spécial)</small><small>12h-13h</small></span>
                </td>
                <td class="schedule-13"></td>
                <td class="schedule-14"></td>
                <td class="schedule-15"></td>
                <td class="schedule-16"></td>
                <td class="schedule-17"></td>
                <td class="schedule-18"></td>
                <td class="schedule-19"></td>
                <td class="schedule-20"></td>
            </tr>
            <tr id="sunday">
                <th>Dimanche</th>
                <td class="schedule-09"></td>
                <td class="schedule-10"></td>
                <td class="schedule-11"></td>
                <td class="schedule-12"></td>
                <td class="schedule-13"></td>
                <td class="schedule-14"></td>
                <td class="schedule-15"></td>
                <td class="schedule-16"></td>
                <td class="schedule-17"></td>
                <td class="schedule-18"></td>
                <td class="schedule-19"></td>
                <td class="schedule-20"></td>
            </tr>
        </table>
    </section>

    <figure class="fullw-img-wrapper">
        <picture class="fullw-img">
            <source type="image/webp" srcset="{{.Site.BaseURL}}assets/img/yoga-bottom-full-small.webp 420w,
                                              {{.Site.BaseURL}}assets/img/yoga-bottom-full-medium.webp 768w,
                                              {{.Site.BaseURL}}assets/img/yoga-bottom-full.webp 4096w"
                                              sizes="100vw">
            <source type="image/jpeg" srcset="{{.Site.BaseURL}}assets/img/yoga-bottom-full-small.jpg 420w,
                                              {{.Site.BaseURL}}assets/img/yoga-bottom-full-medium.jpg 768w,
                                              {{.Site.BaseURL}}assets/img/yoga-bottom-full.jpg 4096w"
                                              sizes="100vw">
            <img class="fullw-img" src="{{.Site.BaseURL}}assets/img/yoga-bottom-full.jpg" alt=""  width="1640" height="900">
        </picture>
    </figure>
{{ end }}