{{ define "main" }}

    <section class="single-section" id="yoga-intro">
        <figure class="fullw-img-wrapper fullw-img-wrapper--long-text">
            <picture class="fullw-img">
                <source type="image/webp" media="(max-width: 767px)" srcset="{{.Site.BaseURL}}assets/img/yoga-full-medium.webp">
                <source type="image/jpeg" media="(max-width: 767px)" srcset="{{.Site.BaseURL}}assets/img/yoga-full-medium.jpg">
                <source type="image/webp" media="(min-width: 768px)" srcset="{{.Site.BaseURL}}assets/img/yoga-full.webp">
                <source type="image/jpeg" media="(min-width: 768px)" srcset="{{.Site.BaseURL}}assets/img/yoga-full.jpg">
                <img class="fullw-img" src="{{.Site.BaseURL}}assets/img/yoga-full.jpg" alt=""  width="1640" height="900">
            </picture>
            {{ with .Params.intro_text }}
            <figcaption>
                {{ range . }}<p>{{ .text | safeHTML}}</p>{{ end }}
            </figcaption>
            {{ end }}
        </figure>
    </section>

    <section class="single-section mw" id="yoga-vision">
        <div class="flex-2-cols">
            <div class="flex-2-cols__col">
                <img class="yoga-vision__img" src="{{.Site.BaseURL}}assets/img/yoga-vision-img.png" width="559" height="637" alt="">
            </div>
            <div class="flex-2-cols__col">
                {{ with .Params.vision_title }}
                    <h2>{{ . | safeHTML }}</h2>
                {{ end }}                
                {{ with .Params.vision_text }}
                    {{ range . }}<p>{{ .text | safeHTML}}</p>{{ end }}
                {{ end }}
            </div>
        </div>
        <div class="flex-3-cols">
            {{ with .Params.offre_blocks }}
                {{ range . }}
                    <div class="flex-3-cols__col">
                        <h2 class="ff-i">{{ .block.title }}</h2>
                        <p>{{ .block.text }}</p>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </section>

    <section class="single-section single-section--price cw" id="yoga-prix">
        <h2 class="ff-i">Tarif</h2>
        {{ partial "price.html" (dict "type" "yoga" "data" $.Site.Data.tarif_yoga) }}
    </section>

    <section class="single-section single-section--price cw" id="yoga-horaire">
        <h2 class="ff-i">Horaire</h2>
        {{ partial "horaire-yoga.html" . }}
    </section>

    <figure class="fullw-img-wrapper">
        <picture class="fullw-img">
            <source type="image/webp" srcset="{{.Site.BaseURL}}assets/img/yoga-bottom-full-small.webp 420w,
                                              {{.Site.BaseURL}}assets/img/yoga-bottom-full-medium.webp 768w,
                                              {{.Site.BaseURL}}assets/img/yoga-bottom-full.webp 4096w"
                                              sizes="100vw">
            <source type="image/jpeg" srcset="{{.Site.BaseURL}}assets/img/yoga-bottom-full-small.jpg 420w,
                                              {{.Site.BaseURL}}assets/img/yoga-bottom-full-medium.jpg 768w,
                                              {{.Site.BaseURL}}assets/img/yoga-bottom-full.jpg 4096w"
                                              sizes="100vw">
            <img class="fullw-img" src="{{.Site.BaseURL}}assets/img/yoga-bottom-full.jpg" alt=""  width="1640" height="900">
        </picture>
    </figure>
{{ end }}