{{ define "main" }}

	<section class="single-section" id="agenda-header">
	</section>

    <section class="single-section cw" id="agenda-content">
		<h2>Les actualités<span class="ff-i"> à&nbsp;venir</span></h2>
		<p id="agenda__filter-wrapper" style="display:none;">Filtre : <span id="agenda__filter-text"></span></p>
		<button id="delete-filters" style="display:none;">Supprimer le filtre</button>
        <div class="flex-3-cols agenda-list">
			{{ $blog_articles := where $.Site.RegularPages "Section" "blog" }}
				{{ range $blog_articles.ByDate }}
						<article class="flex-3-cols__col agenda-list__item">
						<a href="{{.Permalink}}">
							<img class="agenda-list__img" src="{{.Params.photo}}" alt="Illustration de l'événement {{ .Params.titre }}">
							<h3>{{ .Params.titre }}</h3>
							<p class="agenda-list__date"><img class="agenda__icons" src="/assets/img/agenda-when.svg" width="15" height="15" alt="Quand"> 21/12/2020</p>
							<div class="agenda-list__content">
								{{ .Content | truncate 200 }}
							</div>
						</article> 
					</a>
				{{ end }}	
        </div>
    </section>
{{ end }}