<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
  <head>
    <link rel="preconnect" href="https://app.snipcart.com">
    <link rel="preconnect" href="https://cdn.snipcart.com">
    <link rel="preload" href="/assets/fonts/Ubuntu-Regular.woff2" as="font" crossorigin type="font/woff2">
    <link rel="preload" href="/assets/fonts/IBMPlexSerif-MediumItalic.woff2" as="font" crossorigin type="font/woff2">
    <meta charset="utf-8">
    <meta name="language" content="{{ .Site.LanguageCode }}" />
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <title>{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}</title>
    <meta name="author" content='{{ .Site.Params.Author }}' />
    <meta name="description" content='{{ if .Params.intro_text }}{{ $text := index .Params.intro_text 0 }}
  {{ $text.text }}{{ else }}{{ $.Site.Params.Description }}{{ end }}' />
    <meta property="og:type" content="website" />
  	<meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:title" content="{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}" />
    <meta property="og:description" content='{{ .Site.Params.Description }}' />
    <meta property="og:image" content="{{ .Site.BaseURL }}assets/img/home-intro.jpg" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.PostCSS (dict "config" "postcss.config.js") | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $style.Permalink | relURL }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.31/default/snipcart.css" />
    {{ $snipStyle := resources.Get "sass/snipcart-overwrite.scss" | resources.ToCSS | resources.PostCSS (dict "config" "postcss.config.js") | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $snipStyle.Permalink | relURL }}">
    {{ partial "site-favicon.html" . }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154722813-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-154722813-1');
    </script>
  </head>
	<body id="root" class="{{ with .IsHome }}home{{ else }}single{{ end }} {{ .Params.slug }}{{ .Page.Section }}">
    <div class="site-wrapper">
      {{ partial "site-header.html" .}}
      <main class="site-main {{ if ne .IsHome true }}main-single{{ else }}main-home{{ end }}" id="site-main">{{ block "main" . }}{{ end }}</main>
      {{ partial "site-footer.html" . }}
    </div>
    {{ partial "site-scripts.html" . }}
  </body>
</html>
