<article class="flex-2-cols__col blog-item">
    <header>
        <a href="{{.Permalink}}">
            {{ $img_type_arr := split .Params.photo "." }}
			{{ $img_name := index $img_type_arr 0 }}
			{{ $img_ext := index $img_type_arr 1 }}
			<picture>
				<source srcset="{{$img_name}}.{{$img_ext}}" media="(max-width: 400px)">
				<img style="width:100%" class="blog-item__img" src="{{$img_name}}-medium.{{$img_ext}}" alt="Illustration de l'article {{ .Title }}">
			</picture>
            <h2 class="blog-item__title">{{ .Title }}</h3>
        </a>
        <time class="blog-item__date">
            <img class="agenda__icons" src="/assets/img/agenda-when.svg" width="15"
                height="15" alt="Quand"> {{ .Date.Format "02/01/2006" }}
        </time>
    </header>
    <div class="blog-item__content">
        {{ .Content | truncate 200 }}
    </div>
    <footer>
        <ul class="blog-item__categories">
            {{ range .Params.categories }}
                <li>
                    <a class="button" href="/categories/{{ . | urlize }}">{{ . | humanize }}</a>
                </li>
            {{ end }}
        </ul>
    </footer>
</article>