<div class="schedule">
	<table class="lines">
		{{ range seq 52}}<tr><td></td></tr>{{ end}}
	</table>
	<table class="day__hours">
		<tr class="hour hour-9h">
			<td class="hour__text">9h</td>
		</tr>
		<tr class="hour hour-10h">
			<td class="hour__text">10h</td>
		</tr>
		<tr class="hour hour-11h">
			<td class="hour__text">11h</td>
		</tr>
		<tr class="hour hour-12h">
			<td class="hour__text">12h</td>
		</tr>
		<tr class="hour hour-13h">
			<td class="hour__text">13h</td>
		</tr>
		<tr class="hour hour-14h">
			<td class="hour__text">14h</td>
		</tr>
		<tr class="hour hour-15h">
			<td class="hour__text">15h</td>
		</tr>
		<tr class="hour hour-16h">
			<td class="hour__text">16h</td>
		</tr>
		<tr class="hour hour-17h">
			<td class="hour__text">17h</td>
		</tr>
		<tr class="hour hour-18h">
			<td class="hour__text">18h</td>
		</tr>
		<tr class="hour hour-19h">
			<td class="hour__text">19h</td>
		</tr>
		<tr class="hour hour-20h">
			<td class="hour__text">20h</td>
		</tr>
		<tr class="hour hour-21h">
			<td class="hour__text">21h</td>
		</tr>
	</table>
	<div class="days">
		{{ range .Site.Data.horaire_yoga }}
		<div class="day">
			<h4 class="day__title">{{ .title }}</h4>
			<table class="day__schedule">
				{{ $hours := slice "9h" "9h15" "9h30" "9h45" "10h" "10h15" "10h30" "10h45" "11h" "11h15" "11h30" "11h45" "12h" "12h15" "12h30" "12h45" "13h" "13h15" "13h30" "13h45" "14h" "14h15" "14h30" "14h45" "15h" "15h15" "15h30" "15h45" "16h" "16h15" "16h30" "16h45" "17h" "17h15" "17h30" "17h45" "18h" "18h15" "18h30" "18h45" "19h" "19h15" "19h30" "19h45" "20h" "20h15" "20h30" "20h45" }}
				{{ $multiplicator := 15 }}
				{{ range .blocks }}
					{{ $start := .start }}
					{{ $end := .end }}
					{{ $category := .category }}
					{{ $duration := int (.duration) }}
					{{ $subtext := .subtext }}
					{{ range $index, $value := $hours }}
						{{ if eq $start $value }}
							<tr class="day__block hour-{{ $start }} {{ replace $category " " "-"  }}" style="top:{{ add (mul $index $multiplicator) 1 }}px">
								{{ $tdHeight := mul $duration $multiplicator }}
								<td style="height:{{ $tdHeight }}px">
									<span class="day__block__title">{{ $category }}</span>
									{{ with $subtext }}<small class="day__block__subtext">{{ . }}</small>{{ end }}
									<span class="day__block__schedule">{{ $start }} - {{ $end }}</span>
								</td>
							</tr>
						{{ end }}
					{{ end }}
				{{ end }}
			</table>
		</div>
		{{ end }}
	</div>
</div>
<div class="schedule-mobile">
	{{ range .Site.Data.horaire_yoga }}
		<div class="schedule-mobile__item">
			{{ $title := .title }}
			{{ with .blocks }}
				<h4 class="schedule-mobile__title">{{ $title }}</h4>
				{{ range . }}
					<div class="schedule-mobile__block {{ replace .category " " "-" }}">
						<p class="schedule-mobile__block__title ff-i">{{ .category }}</p>
						{{ with .subtext }}<small class="schedule-mobile__block__subtext ff-i">{{ . }}</small>{{ end }}
						<p class="schedule-mobile__block__schedule ff-i">{{ .start }} - {{ .end }}</p>
					</div>	
				{{ end }}
			{{ end }}
		</div>
	{{ end }}
</div>