<div class="schedule">
	<div class="day__hours">
		<ul class="day__list">
			<li class="hour hour-9h"><span class="hour__text">9h</span></li>
			<li class="hour hour-9h15"></li>
			<li class="hour hour-9h30"></li>
			<li class="hour hour-9h45"></li>
			<li class="hour hour-10h"><span class="hour__text">10h</span></li>
			<li class="hour hour-10h15"></li>
			<li class="hour hour-10h30"></li>
			<li class="hour hour-10h45"></li>
			<li class="hour hour-11h"><span class="hour__text">11h</span></li>
			<li class="hour hour-11h15"></li>
			<li class="hour hour-11h30"></li>
			<li class="hour hour-11h45"></li>
			<li class="hour hour-12h"><span class="hour__text">12h</span></li>
			<li class="hour hour-12h15"></li>
			<li class="hour hour-12h30"></li>
			<li class="hour hour-12h45"></li>
			<li class="hour hour-13h"><span class="hour__text">13h</span></li>
			<li class="hour hour-13h15"></li>
			<li class="hour hour-13h30"></li>
			<li class="hour hour-13h45"></li>
			<li class="hour hour-14h"><span class="hour__text">14h</span></li>
			<li class="hour hour-14h15"></li>
			<li class="hour hour-14h30"></li>
			<li class="hour hour-14h45"></li>
			<li class="hour hour-15h"><span class="hour__text">15h</span></li>
			<li class="hour hour-15h15"></li>
			<li class="hour hour-15h30"></li>
			<li class="hour hour-15h45"></li>
			<li class="hour hour-16h"><span class="hour__text">16h</span></li>
			<li class="hour hour-16h15"></li>
			<li class="hour hour-16h30"></li>
			<li class="hour hour-16h45"></li>
			<li class="hour hour-17h"><span class="hour__text">17h</span></li>
			<li class="hour hour-17h15"></li>
			<li class="hour hour-17h30"></li>
			<li class="hour hour-17h45"></li>
			<li class="hour hour-18h"><span class="hour__text">18h</span></li>
			<li class="hour hour-18h15"></li>
			<li class="hour hour-18h30"></li>
			<li class="hour hour-18h45"></li>
			<li class="hour hour-19h"><span class="hour__text">19h</span></li>
			<li class="hour hour-19h15"></li>
			<li class="hour hour-19h30"></li>
			<li class="hour hour-19h45"></li>
			<li class="hour hour-20h"><span class="hour__text">20h</span></li>
		</ul>
	</div>
	<div class="days">
		{{ range .Site.Data.horaire_yoga }}
		<div class="day">
			<h4 class="day__title">{{ .title }}</h4>
			<table class="day__schedule">
				{{ $hours := slice "9h" "9h15" "9h30" "9h45" "10h" "10h15" "10h30" "10h45" "11h" "11h15" "11h30" "11h45" "12h" "12h15" "12h30" "12h45" "13h" "13h15" "13h30" "13h45" "14h" "14h15" "14h30" "14h45" "15h" "15h15" "15h30" "15h45" "16h" "16h15" "16h30" "16h45" "17h" "17h15" "17h30" "17h45" "18h" "18h15" "18h30" "18h45" "19h" "19h15" "19h30" "19h45" "20h" }}
				{{ $multiplicator := "20px" }}
				{{ range .blocks }}
					{{ $start := .start }}
					{{ $end := .end }}
					{{ $category := .category }}
					{{ $duration := .duration }}
					{{ $subtext := .subtext }}
					{{ range $index, $value := $hours }}
						{{ if eq $start $value }}
							<tr class="day__block hour-{{ $start }} {{ $category }}" style="top:calc({{$index}} * {{ $multiplicator }})">
								<td style="height:calc({{ $duration }} * {{ $multiplicator }})">
									<span class="day__block__title">{{ $category }}</span>
									{{ if ne $subtext "" }}<small class="day__block__subtext">{{ $subtext }}</small>{{ end }}
									<span class="day__block__schedule">{{ $start }} - {{ $end }}</span>
								</td>
							</tr>
						{{ end }}
					{{ end }}
				{{ end }}
			</table>
		</div>
		{{ end }}
	</div>
</div>