<table>
    <tr>
        {{ if eq .type "yoga" }}
            <th colspan="2">Trimestriel / Prix adapté<sup>*</sup></th>
        {{ else }}
            <th>Cours</th>
        {{ end }}
      <th>A l'unité</th>
    </tr>
    {{ range .data }}
        <tr>
            <td>{{ .title | safeHTML }}</td>
            {{ if eq $.type "yoga" }}
                <td>
                    <ul>
                        {{ range .prices }}
                            <li>{{ .price | safeHTML }}</li>
                        {{ end }}
                    </ul>
                </td>
            {{ end }}
            <td>{{ .unit | safeHTML }}</td>
        </tr>    
    {{ end }}
    {{ if eq .type "yoga" }}
        <tr>
            <td colspan="3" style="text-align:right">
                <sup>*</sup>réduction pour étudiants, personnes au chômage, sous la mutuelle
            </td>
        </tr>
    {{ end}}
  </table>
 
