{{ $nav := resources.Get "js/nav.js" }}
{{ $navPublic := $nav | resources.Minify | resources.Fingerprint }}
<script defer src="{{ $navPublic.Permalink }}"></script>
{{ $detailsSummary := resources.Get "js/detailsSummary.js" }}
{{ $detailsSummaryPublic := $detailsSummary | resources.Minify | resources.Fingerprint }}
{{- if eq .Params.slug "meditation" }}
<script src="{{ $detailsSummaryPublic.Permalink }}"></script>
{{- end }}
<script async src="https://cdn.snipcart.com/themes/v3.2.0/default/snipcart.js"></script>
{{ safeHTML `
    <div id="snipcart" data-config-modal-style="side" data-api-key="YWUxYzllZmYtMWJhOS00M2NkLTk2YzAtOTAzZTc0OGE2ZTVhNjM3NTExNjE4MTcyMjI3NTE3" hidden>
        <payment section="top">
            <div class="root">
                <p>
                    <snipcart-checkbox name="privacy-policy" required></snipcart-checkbox>
                    <snipcart-label for="privacy-policy">J'ai bien lu les <a href="/conditions-generales" style="margin-left: 0.3em;color: #52b4f5;">conditions générales</a>.</snipcart-label>
                </p>
            </div>
        </payment>
        <order section="content-header">
            <div class="root">
                <div class="snipcart__box snipcart-order__box snipcart-order__box__header">
                    <div class="snipcart__box--title">
                        <div class="snipcart__box--badge snipcart__box--badge snipcart__box--badge-highlight snipcart__font--bold snipcart__font--secondary">
                            <icon name="checkmark" class="snipcart__icon"></icon>
                        </div>
                        <div>
                            <h1 class="snipcart__font--subtitle">{{ $localize('confirmation.thank_you_for_your_order') }}</h1>
                        </div>
                    </div>
                    <div v-if="isConfirmationAsync" class="snipcart-order__async-confirmation-notice">
                        <flash-message type="success">
                            {{ $localize('confirmation.async_confirmation_notice') }}
                        </flash-message>
                    </div>
                    <div v-else class="snipcart-order__invoice-number">
                        {{ $localize('cart.invoice_number') }} : <em class="snipcart-order__invoice-number--highlight snipcart__font--black snipcart__font--secondary">{{ cart.invoiceNumber }}</em>
                    </div>
                    <div>
                        <p style="color:#326d6c;margin: 20px 0 10px;font-weight: bold;font-size: 1.1rem;line-height: 1.25;">Lien vers votre formulaire d'inscription aux cours de yoga. Merci de le remplir avant de venir à votre premier cours :</p>
                        <p><a style="color: #326d6c;font-weight: bold;font-size: 1.1rem;line-height: 1.25;text-decoration: underline;" href="https://forms.gle/2tchSwusog7wQFKu6">Formulaire d'inscription</a></strong></p>
                    </div>
                </div>
            </div>
        </order>
    </div>
` }}
<script>
    document.addEventListener('snipcart.ready', function() {
        Snipcart.api.session.setLanguage('fr', {
            header: {
                title_cart_summary: "Résumé"
            },
            actions : {
                continue_shopping: "Retour vers le site"
            },
            customer_dashboard : {
                orders: "Commandes"
            },
            cart : {
                view_detailed_cart: "Plein écran"
            }
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({palette:{popup:{background:"#326d6c",text:"#f7f5f5"},button:{background:"#f4e9e6",text:"#1e605f"}},content:{message:"Nous utilisons des cookies pour vous garantir la meilleure expérience sur notre site. Si vous continuez à utiliser ce dernier, nous considérerons que vous acceptez l'utilisation des cookies.",dismiss:"Ok",link:"En savoir plus",href:"https://www.yogasamana.be/mentions-legales"}});
</script>
