<footer class="site-footer" id="site-footer">
    <div class="site-footer__wrapper">
        <div class="site-footer__block site-footer__chloe">
            <h3>© Chloé Dujardin</h3>
            <p>Développé de manière éco-responsable par <a href="https://www.studiocolibri.be">Studio Colibri</a>. Superbes photos par <a href="https://alexisvanderlinden.com/">Alexis Vander Linden</a>.</p>
            <a href="https://www.thegreenwebfoundation.org/green-web-check/?url=https%3A%2F%2Fwww.yogasamana.be" target="_blank">
                <img class="site-footer__green-badge" src="{{.Site.BaseURL}}assets/img/green-badge.png" alt="This website is hosted Green - checked by thegreenwebfoundation.org" width="180" height="81">
            </a>
        </div>
        <div class="site-footer__block site-footer__samana">
            <h3>Samana</h3>
            <nav class="site-footer__nav">
                <a href="/">Accueil</a>
                <a href="/chloe-dujardin">Chloé Dujardin</a>
                <a href="/contact">Contact</a>
            </nav>
        </div>
        <div class="site-footer__block site-footer__activities">
            <h3>Activities</h3>
            <nav class="site-footer__nav">
                <a href="/yoga">Yoga</a>
                <a href="/yoga-at-work">Yoga at work</a>
                <a href="/meditation">Méditation</a>
                <a href="/agenda">Agenda</a>
                <a href="/blog">Blog</a>
            </nav>
        </div>
        <div class="site-footer__block site-footer__stayintouch">
            <h3>Stay in touch</h3>
            {{ partial "contact-form.html" }}
        </div>
        <div class="site-footer__block site-footer__follow">
            <h3>Follow</h3>
            <div class="follow-wrapper">
                <a href="https://www.facebook.com/YogaSamanaliege/">
                    <img src="{{.Site.BaseURL}}assets/img/facebook-logo.svg" alt="Logo de Facebook" title="Follow us on Facebook" width="20" height="20">
                </a>
                <a href="https://www.instagram.com/yoga.samana.liege/">
                    <img src="{{.Site.BaseURL}}assets/img/instagram-logo.svg" alt="Logo de instagram" title="Follow us on Instagram" width="20" height="20">
                </a>
            </div>
            <a class="link-underlined" href="{{.Site.BaseURL}}mentions-legales">Mentions légales</a>
        </div>
    </div>
</footer>

<a id="top-btn" role="button" href="#root" title="Top" aria-label="Top">⌃</a>