<footer class="site-footer">
	<div class="site-footer__block site-footer__chloe">
		<h3>© Chloé Dujardin</h3>
		<p>Designed with love by <a href="http://www.rtn-studio.be/">RTN - Studio</a>,
			conscientiously developed by <a href="https://www.studiocolibri.be">Studio Colibri</a>.
			Wonderful pictures created by <a href="https://alexisvanderlinden.com/">Alexis Vander Linden</a>.</p>
	</div>
	<div class="site-footer__block">
		<h3>Samana</h3>
		<nav class="site-footer__nav site-footer__samana">
			<a href="{{.Site.BaseURL}}">Accueil</a>
			<a href="{{.Site.BaseURL}}chloe-dujardin">Chloé Dujardin</a>
			<a href="{{.Site.BaseURL}}contact">Contact</a>
		</nav>
	</div>
	<div class="site-footer__block">
		<h3>Activities</h3>
		<nav class="site-footer__nav site-footer__activites">
			<a href="{{.Site.BaseURL}}yoga">Yoga</a>
			<a href="{{.Site.BaseURL}}meditation">Méditation</a>
			<a href="{{.Site.BaseURL}}agenda">Agenda</a>
		</nav>
	</div>
	<div class="site-footer__block site-footer__stayintouch">
		<h3>Stay in touch</h3>
		<form>
			<div class="input-wrapper">
				<label class="hide" for="name">Enter name</label>
				<input type="text" name="name" placeholder="Enter name">
			</div>
			<div class="input-wrapper">
				<label class="hide" for="email">Enter email</label>
				<input type="email" name="email" placeholder="Enter email">
			</div>
			<input type="submit" value="Envoyer">
		</form>
	</div>
	<div class="site-footer__block site-footer__follow">
		<h3>Follow</h3>
		<div class="follow-wrapper">
			<a href="https://www.facebook.com">
				<img src="{{.Site.BaseURL}}assets/img/facebook-logo.png" alt="Logo de Facebook" title="Follow us on Facebook">
			</a>
			<a href="https://www.instagram.com">
				<img src="{{.Site.BaseURL}}assets/img/instagram-logo.png" alt="Logo de instagram" title="Follow us on Instagram">
			</a>
			<a href="https://www.youtube.com">
				<img src="{{.Site.BaseURL}}assets/img/youtube-logo.png" alt="Logo de youtube" title="Follow us on Youtube">
			</a>
		</div>
		<a class="link-underlined" href="{{.Site.BaseURL}}privacy-policy">Privacy policy</a>
	</div>
</footer>