<header class="site-header">
	<div class="site-header__wrapper">
		<a class="site-logo" href="{{.Site.BaseURL}}">
			<img src="{{.Site.BaseURL}}assets/img/samana-logo.svg" alt="Logo de Samana" title="Samana le souffle" width="229" height="14">
		</a>
		<nav class="site-nav">
					<a class="site-nav__link" href="{{.Site.BaseURL}}chloe-dujardin">Chloé Dujardin</a>
					<a class="site-nav__link" href="{{.Site.BaseURL}}yoga">Yoga</a>
					<a class="site-nav__link" href="{{.Site.BaseURL}}meditation">Méditation</a>
					<a class="site-nav__link" href="{{.Site.BaseURL}}agenda">Agenda</a>
					<a class="site-nav__link" href="{{.Site.BaseURL}}contact">Contact</a>
				</ul>
		</nav>
		<a class="stay-connected" href="#">
			<img src="{{.Site.BaseURL}}assets/img/stay-connected_icon.png" alt="" width="29" height="28">
			<span>Restez connecté.e.s</span>
		</a>
	</div>
</header>