{{ define "main" }}

    <section class="home-section" id="intro">
        <figure class="fullw-img-wrapper">
            <picture class="home-intro__img fullw-img">
                <source type="image/jpeg" srcset="{{.Site.BaseURL}}assets/img/home-intro-small.jpg 768w,
                                                    {{.Site.BaseURL}}assets/img/home-intro.jpg 4096w">
                <img class="fullw-img" src="{{.Site.BaseURL}}assets/img/home-intro.jpg" alt="" sizes="100vw" width="1640" height="900">
            </picture>
            <figcaption>
                <h2>Animer son corps, habiter son souffle, <span>ressentir</span>.
            </figcaption>
        </figure>
    </section>

{{ end }}
