.home-section#intro {
    
    .fullw-img-wrapper {
        display:flex;
        align-items:center;
        justify-content: center;
        
        figcaption {
            position:absolute;
            color:$white;
            @include ff-l;
            font-size:28px;
            font-size:calc(0.5rem + 1.1vw);

            h2 {
                margin:0;
            }

            span {
                @include ff-i;
                letter-spacing:1px;
            }
        }
    }
}