
::selection {
	color:$light;
	background-color: $dark;
}

html, body {
    overflow-x:hidden;
}

body {
    @include ff-r; 
    font-size:18px;
    font-weight:400;
    line-height:1.5;
    background-color: $white;
    color:$dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height:100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
    opacity:0;
    animation: show-smooth 200ms 300ms ease-in-out forwards;

    @media screen and (min-width: 460px) {
        font-size:20px;
    }

    @media screen and (min-width: 980px) {
        font-size:22px;
    }
}

body * {
    box-sizing: border-box;
}

.site-wrapper {
    max-width: 1920px;
    margin: 0 auto;
    box-shadow: 0 0 6px lighten($dark, 40%);
}

#site-main {
    position:relative;
    
    body.open & {
        z-index:-2;
    }
}