/*
* MODULES
*/

a {
    text-decoration: none;
    color: $dark;
    transition: color 150ms ease-out;

    &:hover, &:focus {
        color:lighten($dark, 10%);
    }
}

.button {
    @include fs-b;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display:inline-block;
    position:relative;
    padding:0.5em;

    &:after {
        content:'';
        display:block;
        height:1px;
        width:100%;
        background-color: currentColor;
        bottom:0;
        opacity:1;
        transition: opacity 200ms ease-out;
    }

    &:hover, &:focus {

        &:after {
            opacity: 0;
        }
    }
}

.link-underlined {
    text-decoration:underline;

    &:hover, &:focus {
        text-decoration: none;
    }
}

figure {
    padding:0;
    margin:0;
}

.fullw-img-wrapper {
    position:relative;
}

.fullw-img {
    width:100%;
    height:auto;
    display:block;
}

.fullw-img-wrapper {
    display:flex;
    align-items:center;
    justify-content: center;
    
    figcaption {
        position:absolute;
        color:$white;
        @include ff-l;
        font-size:20px;
        font-size:calc(0.5rem + 1.1vw);
        text-align: center;

        @media screen and (min-width:1200px) {
            @include fs-h2; 
        }

        h2 {
            margin:0;
            padding:0 1em;
            text-align: center;
        }

        span {
            @include ff-i;
            letter-spacing:1px;
        }

        .button {
            color:$white;
            text-align: center;
            font-size:80%;

            @media screen and (min-width:768px) {
                font-size:70%;
            }
        }
    }
}

.fullw-img-wrapper--long-text {
    align-items:flex-start;
    
    figcaption {
        max-width: 28em;
        padding:0 $su;
        text-align: left;
        @include fs-xs;
        margin:$su/2 0;
        
        @media screen and (min-width:420px) {
            margin:$su*3 0;
            font-size:1rem;
        }

        @media screen and (min-width:768px) {
            margin:$su*3 0;
            font-size:1.2rem;
            padding:0 $su*2;
        }
        
        @media screen and (min-width:980px) {
            max-width: $mw;
            font-size: 1rem;

            * {
                margin-right:57%;
            }
        }
        
        @media screen and (min-width:1360px) {
            font-size:1.2rem;

            * {
                margin-right:62%;
            }
        }
    }
}

.mw {
    width:100%;
    max-width:$mw;
}

.hide {
    display:block;
    position: absolute;
    left:-99999px;
    clip-path: polygon(0px 0px,0px 0px,0px 0px,0px 0px);
}