$heightUnit : 15px;
$widthUnit: 130px;

.schedule {
	display:flex;
	position:relative;
	width:7.866 * $widthUnit;
	height:$heightUnit*52;
	margin:0 auto $su*8 auto;
	@include ff-l;
	border-bottom:1px solid $green;
}

.schedule__wrapper {
	height:4*$heightUnit;
	border-top:1px solid $green;
	border-right:1px solid $green;
	border-left:1px solid $green;
}

.schedule__col {
	border:none;
}

.schedule__col--first {
	width: 0.65*$widthUnit;
}

.schedule__col--second {
	width:7.169230*$widthUnit;
	position: absolute;
	top:4*$heightUnit;
	left:0.692307*$widthUnit;
	padding:0;

	td {
		padding:0;
		height:15px;
		border:1px solid lighten($green, 50%);
	}
}

.days {
	display:flex;
	position: relative;
	left:-(0.115384*$widthUnit);
}

.day {
	border-left:1px solid $green;
}

.day__title {
	display:flex;
	align-items: center;
	justify-content: center;
	height:$heightUnit*4;
	margin:0;
	padding:0.5em;
	text-align: center;
	box-sizing: border-box;
	text-transform: uppercase;
	font-size: 1rem;
}

.day__schedule, .day__schedule tbody {
	margin:0;
	width:$widthUnit;
	height:$heightUnit*78.6;
	position:relative;
}

.day__hours {
	margin-top:$heightUnit*4;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:7.8666666667 * $widthUnit;
	border-right:1px solid $green;
	border-left:1px solid $green;

	.hour {
		display:flex;
		padding:0.5em;
		align-items:center;
		justify-content: center;
		height:4 * $heightUnit;
		
		.hour__text {
			position:absolute;
			left:0;
			border:none;
			width:0.6923*$widthUnit;
		}
	}
}

.hour, .day__block td {
	display:block;
	height:$heightUnit;
	border-top: 1px solid $green;
	margin:0;

	&:before {
		display: none;
	}
}

.day__block {
	position:absolute;
	width:100%;

	&.adultes td {
		background:#F4E9E6;
	}

	&.enfants td {
		background:#C2DBDE;
	}

	&.ados td {
		background:#EFD58A;
	}

	td {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding:0;
		border:none;
	}

	> * {
		line-height:1.4;
	}

	span, small {
		display:block;
		@include ff-i;
	}

	span {
		font-size:0.9rem;
	}

	small {
		font-size:0.8rem;
	}
}