.schedule {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@media (min-width:1200px) {
		display: grid;
		flex-wrap: wrap;
		justify-content: center;
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	}
}

.schedule__item {
	margin:$su;
	flex:0 1 260px;
}

.schedule__title {
	margin:0 0 $su 0;
	text-transform: uppercase;
	@include ff-l;
	text-align: center;
	font-size: 1.6rem;
}

.schedule__block {
	margin-bottom:$su;
	padding:0.5em;
	text-align: center;

	&.adultes {
		background:#F4E9E6;
	}

	&.enfants {
		background:#C2DBDE;
	}

	&.ados {
		background:#EFD58A;
	}

	&.cours-de-danse {
		background:#ff9a64;
	}

	p {
		margin:0;
	}

	span, small {
		line-height: 1.2;
	}
}

.schedule__block__subtext {
	font-size: 80%;
}