.single-section {

	img {
		max-width: 100%;
	}

	a {
		word-break: break-all;
	}

	& + .single-section {
		margin-bottom:$su*6
	}

	&.single-section--price {
		margin:$su*6 auto;

		h2 {
			margin-top:0;
			margin-bottom:$su*2;
			text-align: center;
		}

		table {
			margin-right:auto;
			margin-left:auto;

		}

		@media screen and (max-width:559px) {
			li {
				display: list-item;

				&:before {
					display:none;
				}
			}
		}
	}
}

#chloe-content {
	margin:$su*4 auto;

	@media screen and (min-width: 980px) {
		margin:$su*6 auto 0 auto;
	}

	.flex-2-cols {
		justify-content: space-between;

		@media screen and (max-width:979px) {
			align-items: center;
		}

		@media screen and (min-width: 980px) {
			flex-wrap: nowrap;
			margin-right: auto;
			margin-left: auto;
		}
	}

	.flex-2-cols__col {

		@media screen and (max-width:979px) {
			max-width: 24em;

			&.chloe-content__img {
				order:2;
				margin-top:$su*2;
			}
		}

		@media screen and (min-width:980px) {

			&.chloe-content__img {
				max-width: 580px;
				width:50%;
			}

			&.chloe-content__txt {
				max-width: 540px;
				width:47%;
			}
		}
	}

	h2 {
		margin-top: 1.25em;
		margin-bottom: 1em;

		&:first-of-type {
			margin-top: 0;
		}
	}
}

#chloe-formation {
	margin-bottom:$su*4;
	
	> * {
		max-width: 480px;
		margin-right:auto;
		margin-left:auto;

		@media screen and (min-width:980px) {
			max-width: 50%;
			margin-left:0;
		}
	}
}

.yoga {
	
	.fullw-img-wrapper--long-text {
		
		figcaption {
			
			@media screen and (min-width:1360px) {
				
				> * {
					margin-right:60%;
				}
			}
		}
	}
}

#yoga-vision {
	margin: $su*4 auto;

	@media screen and (min-width: 980px) {
		margin:$su*6 auto;
	}

	.flex-3-cols {
		margin-top:$su*4;
	}
}

.single-section .yoga-vision__img {
	display:none;
	position:absolute;
	left:-10px;

	@media screen and (min-width: 980px) {
		display: block;
		width:100%;
		height:auto;
		max-width: 45%;
	}

	@media screen and (min-width: 1200px) {
		max-width: 559px;
	}

	@media screen and (min-width: 1920px) {
		left:-7px;
	}
}

#surmesure-intro {

	.fullw-img-wrapper--long-text picture {

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			background-color: rgba(0,0,0,0.3);
		}
	}
}

.horaires-tarifs {

	.single-section__title {
		display: block;
		margin-bottom: $su*2;
		text-align: center;
		@include ff-i;
	}
}

.horaires-tarifs__header {
	margin: $su auto $su*4 auto;
	padding:0 $su;
	max-width: $cw !important;

	> * {

		img {
			width:100%;
			height:auto;
		}
	}
}

.tarifs-abonnements {
	
	.flex-2-cols {
		justify-content: space-between;
		margin-top:$su*3;
		padding:0;
	}

	h3 {
		@include ff-i;
		margin: .5em 0;
	}
}

.tarifs-abonnements__item {
	margin-bottom:$su*6;
}

.tarifs-abonnements__list {
	padding:0;
	
	li {
		position:relative;
		padding-left:28px;
		list-style-type: none;

		&:before {
			content:'';
			display:block;
			position:absolute;
			top:0;
			left:0;
			width:20px;
			height:20px;
			background-size:cover;
		}
	}

	.price {
		
		&:before {
			background-image: url(/assets/img/agenda-price.svg);
		}
	}

	.type {
		
		&:before {
			background-image: url(/assets/img/agenda-schedule.svg);
		}
	}

	.period {
		
		&:before {
			background-image: url(/assets/img/agenda-when.svg);
		}
	}
}

.tarifs-abonnements__text {
	font-size: 1rem;
	@include ff-l;
}

.tarifs-abonnements__btn {
	margin-top:$su*2;
	background-color: $green;
	padding: 0.3em 0.9em;
	border: 1px solid $green;
	border-radius: 5px;
	color:white;
	@include ff-l;
	font-size: 1.2rem;
	text-transform: uppercase;
	transition:background-color 200ms ease-out, color 200ms ease-out;

	&:hover,
	&:focus {
		cursor: pointer;
		background-color: transparent;
		color:$green;
	}

	&:active {
		background-color: $green;
		color:white;
	}
}

.agenda-list {
	align-items:center;

	@media screen and (min-width:640px) and (max-width:979px) {
		flex-direction: row;
		justify-content: center;
	}

	@media screen and (min-width:768px) {
		align-items:flex-start;
	}
}

.agenda-list__item {
	margin-top:$su;
	margin-bottom:$su*2;
	max-width: 326px;

	@media screen and (min-width:640px) and (max-width:979px) {

		&:nth-child(odd) {
			margin-right:$su;
		}
	}

	h3 {
		@include ff-i;
		font-size:1.3rem;
		margin:0.5em 0;
	}

	> p, > address {
		font-size:0.9rem;
		font-style: normal;
		margin-top:0;
		margin-bottom:0.5em;
		text-transform: uppercase;
		@include ff-l;
	}
}

img.agenda__icons {
	width:1em;
	height:1em;
	display: inline-block;
	margin-right: 1em;
}

.agenda-list__content {
	
	> * {
		font-size:0.9rem;
		margin-top: 0.5em;
		margin-bottom: 0;
	}
}

.contact {

	.fullw-img {
		width:auto;
		min-height:20em;

		@media screen and (min-width:720px) {
			width:100%;
			height:auto;
			min-height: auto;
		}
	}
}

#contact-intro {

	figcaption {

		@media screen and (min-width:980px) {
            
            > * {
                font-size:1.3rem;
            }
        }
        
        @media screen and (min-width:1360px) {

            > * {
                font-size:1.6rem;
            }
        }

        @media screen and (min-width:1600px) {

            > * {
                font-size:1.8rem;
            }
        }
	}
}

#contact-content {
	margin:$su*4 auto;
	@include ff-l;

	.input-wrapper {
		
		&:after {
			bottom:0.7em;
		}
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		margin-top:$su*2;
		text-transform: uppercase;
		font-weight: normal;
	}

	form {
		max-width:14em;
	}
} 

.contact-content__img {

	@media screen and (max-width:979px) {
		order: 2;
		margin-top:$su*4;
	}
}

.contact-content__name {
	text-transform: uppercase;
	margin-top:$su*2;
	margin-bottom:0;
	font-size: 1.4rem;
}

.contact-content__tel {
	margin-top:0;
	margin-bottom:0;
	font-size: 1.4rem;
}

.contact-content__email {
	margin:0;
	font-size: 1.4rem;
}

.mentions-legales {

	h3 {
		font-size:1.2rem;
	}

	#site-main ul {
		padding-left: 1em;
		list-style-type:disc;
		display:block;
		
		li {
			display: list-item;

			&:before {
				display: none;
			}
		}
	}
}